<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @*<link rel="stylesheet" href="~/Auto.WebSite.styles.css" asp-append-version="true"/>*@
</head>
<body>
<div class="container" style="margin: 10px 10px;">
    <header style="padding: 0;">
        <ul id="links-list">
            <li>
                <a asp-controller="Owners" asp-action="Index" style="color: #34383c;text-decoration: none;">Владельцы</a>
            </li>
            <li>
                <a asp-controller="Owners" asp-action="Create" style="color: #34383c;text-decoration: none;">Добавить</a>
            </li>
        </ul>
    </header>
    <div id="signalr-notifications"></div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.3/s
ignalr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>